
#sidebar {
 
  position:fixed;
  top: 0;
  left: 76%;
 /* border: 2px solid black;*/
  bottom: 0;
  width: 300px;
  background-color: #81838b;
}

header {
    float: top;
    font-family: 'Roboto', sans-serif;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
      
    background-color: #b0bff0;
    
    color: white;
      
    padding: 1em;
}

#nombre {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 30px;
  color: black;
}

.profesion {
  font-family: 'Roboto', sans-serif;
  display: block;
  margin-top: 10px;
 
}
#sidebar img {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  margin: 0%;
  top: 13px;
  position: relative;
  left: 40px;
   
}

#Habilidades {
 display: flex;
 justify-content: center;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}

.botonera {
  display: flex;
  justify-content: center;
}

.botonera .boton {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(154, 185, 253);
  display: inline-block;
  padding: 20px 30px;
  border-radius:10px;
  position: static;

}


#informacion {
  display: none;
  text-align: center;
}

#direccion {
  display: none;
  text-align: center;
}

#telefono {
  display: none;
  text-align: center;
}

#educacion {
  display: none;
  text-align: center;
}


section ul {
  list-style-type: none;
}

footer{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: #c3aeff;
  color: rgb(0, 0, 0);
}

